<div class="page-sidebar">
    <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
            Главная
        </li>
        <li {{#if isAdmin}}class="active-page"{{/if}}>
            <a href="/admin"><i data-feather="home"></i>Главная</a>
        </li>
        <li class="sidebar-title">
            Управление
        </li>
        <li {{#if isCategory}}class="active-page"{{/if}}>
            <a href="/category/"><i data-feather="layers"></i>Категории</a>
        </li>
        <li {{#if isProduct}}class="active-page"{{/if}}>
            <a href="/product"><i data-feather="bookmark"></i>Курсы</a>
        </li>
        <li {{#if isBlog}}class="active-page"{{/if}}>
            <a href="/blog"><i data-feather="edit-2"></i>Блог</a>
        </li>
        <li {{#if isFaq}}class="active-page"{{/if}}>
            <a href="/faq"><i data-feather="help-circle"></i>FAQ</a>
        </li>
        {{!-- <li {{#if isOrder}}class="active-page"{{/if}}>
            <a href="/product/order"><i data-feather="user"></i>Заказы</a>
        </li>
        <li {{#if isFeedback}}class="active-page"{{/if}}>
            <a href="/product/feedback"><i data-feather="user"></i>Заявка звонков</a>
        </li> --}}
    </ul>
</div>